{% load i18n %}
{% load thumbnail %}
<ul class="promotion-list">
{% for deal in instance %}
	<li class="promotion-item">
		<span class="thumb fLeft">
			<img src="{{ deal.image.url|thumbnail_url:'s300' }}" alt="">
		</span>
		<a href="{{ deal.url }}" class="link fRight">{% trans 'Réserver' %}</a>
		<span class="price fRight"><em>{% trans 'À partir de' %}</em> {{ deal.price }} €</span>
		<div class="info">
			<span class="title">{{ deal.title }}</span>
			<p class="description">{{ deal.description }}</p>
		</div>
	</li>
{% endfor %}
</ul>