{% load i18n %}
{% load cms_tags %}
{% load thumbnail %}
<div class="block-header">{% trans 'PROMOTIONS' %}</div>
<div class="block-content promotion-block">
	<ul class="promotion-list">
		{% placeholder deals %}
	</ul>
	<ul class="pagination"></ul>
</div>
