/*
-----------------------------------------
Reset Style
-----------------------------------------
*/
*{
	margin:0;
	padding:0;
	color: #000;
	border:none;
	outline:none;
	font-size:12px;
	font-family:arial,tahoma,verdana,sans-serif;
}
html{
	height:100%;
}
ol, ul{
	list-style:none;
}
body.ar *{
	direction: rtl;
}
.keeper{
	width: 1004px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

/*
-----------------------------------------
Pagination Style
-----------------------------------------
*/
.pagination{
	clear: both;
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.pagination li{
	padding: 0 2px;
	overflow: hidden;
	display: inline-block;
}
.pagination li a{
	width: 9px;
	height: 9px;
	display: block;
	background-color: #fff;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.pagination li.active a{
	background-color: #ec7c1c;
}

/*
-----------------------------------------
Page Slider Style
-----------------------------------------
*/
.pageSlider{
	overflow: hidden;
	position: relative;
}
.pageSlider .slide{
	top: 0;
	left: 0;
	height: 604px;
	overflow: hidden;
	position: absolute;
	-webkit-transition: height .5s;
	-moz-transition: height .5s;
	-ms-transition: height .5s;
	-o-transition: height .5s;
	transition: height .5s;
}
.pageSlider .slide .visual{
	display: none;
}
.pageSlider .pager{
	top: 20px;
	left: 0px;
	width: 100%;
	z-index: 9999999;
	overflow: hidden;
	position: absolute;
	text-align: center;

}
.pageSlider .pager span{
	width: 25px;
	height: 25px;
	color: #FFFFFF;
	margin: 0 10px;
	cursor: pointer;
	line-height: 26px;
	position: relative;
	display: inline-block;
	border: 2px solid #FFF;

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.pageSlider .pager span.active{
	color: #000;
	background-color: #FFF;
}
.pageSlider .pager span em{
	top: 50%;
	left: -23px;
	height: 8px;
	width: 22px;
	margin-top: -4px;
	position: absolute;
	background-color: #FFF;
}
*.ar .pageSlider .pager span em{
	left: 26px;
}
.pageSlider .pager span:first-child em{
	display: none;
}

/*
-----------------------------------------
Header Style
-----------------------------------------
*/
header{
	overflow: hidden;
	position: relative;
	background-color: #04529d;
}
header .keeper{
	height: 132px;
}
header .logo{
	top: 50%;
	left: 40px;
	width: 119px;
	height: 32px;
	overflow: hidden;
	margin-top: -16px;
	position: absolute;
	background: url(/static/images/logo.png) center no-repeat;
}

/*
-----------------------------------------
Top Bar Style
-----------------------------------------
*/
header .topBar{
	top: 16px;
	right: 40px;
	overflow: hidden;
	position: absolute;
}

/*
-----------------------------------------
Search Form Style
-----------------------------------------
*/
header .topBar .search{
	float: right;
	padding: 0 4px;
	overflow: hidden;
	background-color: #FFFFFF;
}
header .topBar .search .field{
	height: 18px;
	font-size: 10px;
	padding-left: 6px;
	background-color: #FFF;
}
.ar header .topBar .search .field{
	padding-left: 0px;
	padding-right: 6px;
}
header .topBar .search .submit{
	width: 11px;
	height: 10px;
	cursor: pointer;
	margin-top: 4px;
	background: url(/static/images/search-icon.gif) center no-repeat;
}

/*
-----------------------------------------
Fast Links Style
-----------------------------------------
*/
header .topBar .fastLinks{
	float: right;
	overflow: hidden;
	line-height: 18px;
	padding-right: 10px;
}
header .topBar .fastLinks li{
	float: left;
	padding: 0 5px;
}
header .topBar .fastLinks li a{
	font-size: 9px;
	color: #FFFFFF;
	text-decoration: none;
}
header .topBar .fastLinks li a:hover{
	text-decoration: underline;
}

/*
-----------------------------------------
Language Switcher Style
-----------------------------------------
*/
header .topBar .language_switcher {
	float: right;
	overflow: hidden;
	padding-right: 10px;
}
header .topBar .language_switcher li{
	float: right;
	padding-right: 5px;
}
header .topBar .language_switcher li.active{
	opacity: .2;
}
header .topBar .language_switcher li.active a{
	cursor: default !important;
}
header .topBar .language_switcher li img{
	width: 20px;
}

/*
-----------------------------------------
Main Menu Style
-----------------------------------------
*/
header .mainMenu{
	top: 50%;
	right: 40px;
	overflow: hidden;
	margin-top: -8px;
	line-height: 16px;
	position: absolute;
}
header .mainMenu li{
	float: left;
	padding: 0 10px;
}
.ar header .mainMenu li{
	float: right;
}
header .mainMenu li a{
	color: #FFF;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
}
header .mainMenu li a:hover,
header .mainMenu li.selected a{
	color: #EC7C1C;
}


/*
-----------------------------------------
Content Style
-----------------------------------------
*/
#content{
	margin-top: -30px;
	background-color: #FDFDFD;
}
#content .keeper{
	padding-top: 30px;
}

/*
-----------------------------------------
Cover Banner Style
-----------------------------------------
*/
#cover{
	overflow: hidden;
	position: relative;
}
#cover .pagination{
	left: 20px;
	bottom: 20px;
	width: 200px;
	position: absolute;
}
#cover .pagination li{
	padding: 0 5px;
}
#cover .pagination li a{
	width: 14px;
	height: 14px;
}

/*
-----------------------------------------
Main Container Style
-----------------------------------------
*/
#main{
	overflow: hidden;
	padding-top: 40px;
	position: relative;
	padding: 0 257px 15px 20px;
}
.ar #main{
	padding-left: 257px;
	padding-right: 20px;
}
#main *{
	font-size: 14px;
}
#main ol,
#main ul{
	padding-top: 10px;
	padding-left: 20px;
	list-style: disc inside;
}
*.ar #main ol,
*.ar #main ul{
	padding-left: 0px;
	padding-right: 20px;
}
#main .pageTitle{
	color: #04529d;
	display: block;
	font-size: 48px;
	padding-top: 10px;
}
#main .pageSubTitle{
	color: #ef7d1b;
	display: block;
	font-size: 24px;
	padding-top: 5px;
}
#main .pageCaption{
	color: #04529d;
	display: block;
	font-size: 18px;
	padding-top: 5px;
}
#main .pageCaption *{
	color: #04529d;
	font-size: 18px;
}
#main > p{
	padding-top: 10px;
}
#main > table{
	margin-top: 10px;
}

/*
-----------------------------------------
Topics Style
-----------------------------------------
*/
#main .topic-list{
	overflow: hidden;
	text-align: left;
	padding: 20px 0 0 0 !important;
}
#main .topic-list .topic-item{
	width: 210px;
	overflow: hidden;
	text-align: left;
	padding: 0 15px 20px;
	display: inline-block;
}
#main .topic-list .topic-item .header{
	height: 30px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	font-weight: normal;
	background-color: #04529d;
	-webkit-border-radius: 18px 18px 0 0;
	-moz-border-radius: 18px 18px 0 0;
	border-radius: 18px 18px 0 0;
}
#main .topic-list .topic-item .cover{
	width: 100%;
	display: block;
	overflow: hidden;
	max-height: 140px;
	position: relative;

	-webkit-border-radius: 0 0 18px 18px;
	-moz-border-radius: 0 0 18px 18px;
	border-radius: 0 0 18px 18px;
}
#main .topic-list .topic-item .cover img{
	width: 100%;
}
#main .topic-list .topic-item .cover .pointer{
	right: 10px;
	bottom: 10px;
	width: 13px;
	height: 16px;
	cursor: default;
	position: absolute;
	background: url(/static/images/topic-pointer.png) left top no-repeat;
}
#main .topic-list .topic-item p{
	color: #000;
	font-size: 15px;
	padding: 10px 5px 0;
	text-align: justify;
}

/*
-----------------------------------------
Promotions Style
-----------------------------------------
*/
#main .promotion-list{
	overflow: hidden;
	list-style: none;
}
#main .promotion-list .promotion-item{
	padding: 10px 0;
	overflow: hidden;
	max-width: 1004px;
	border-top: 1px solid #eeeeee;
}
#main .promotion-list .promotion-item:first-child{
	border: none;
}
#main .promotion-list .promotion-item .thumb{
	width: 120px;
	padding: 3px;
	display: block;
	overflow: hidden;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background: #f7c390; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7c390 0%, #f19e4b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7c390),color-stop(100%,#f19e4b)); /* Chrome,Safari4+ */
	background: -o-linear-gradient(top,  #f7c390 0%,#f19e4b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7c390 0%,#f19e4b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7c390 0%,#f19e4b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c390', endColorstr='#f19e4b',GradientType=0 ); /* IE6-8 */

}
#main .promotion-list .promotion-item .thumb img{
	width: 100%;
	display: block;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#main .promotion-list .promotion-item .info{
	overflow: hidden;
	padding: 5px 20px 0;
}
#main .promotion-list .promotion-item .info .title{
	color: #0047ba;
	display: block;
	font-size: 18px;
}
#main .promotion-list .promotion-item .info .description{
	color: #0047ba;
	font-size: 11px;
	padding-top: 10px;
	text-align: justify;
}
#main .promotion-list .promotion-item .price{
	width: 88px;
	height: 73px;
	color: #FFFFFF;
	font-size: 24px;
	padding-top: 15px;
	text-align: center;
	line-height: 20px;
	border: 4px solid #0047ba;

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	background: #f19e4b; /* Old browsers */
	background: -moz-linear-gradient(top,  #f19e4b 0%, #f7c390 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f19e4b),color-stop(100%,#f7c390)); /* Chrome,Safari4+ */
	background: -o-linear-gradient(top,  #f19e4b 0%,#f7c390 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f19e4b 0%,#f7c390 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f19e4b 0%,#f7c390 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f19e4b', endColorstr='#f7c390',GradientType=0 ); /* IE6-8 */
}
#main .promotion-list .promotion-item .price em{
	color: #FFF;
}
#main .promotion-list .promotion-item .link{
	color: #FFF;
	height: 44px;
	padding: 0 20px;
	font-size: 18px;
	margin-top: 25px;
	line-height: 40px;
	margin-left: 20px;
	text-decoration: none;
	border: 1px solid #e19650;
	text-transform: uppercase;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background: #0048ba; /* Old browsers */
	background: -moz-linear-gradient(top,  #2092d8 0%, #0048ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2092d8),color-stop(100%,#0048ba)); /* Chrome,Safari4+ */
	background: -o-linear-gradient(top,  #2092d8 0%,#0048ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2092d8 0%,#0048ba 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2092d8 0%,#0048ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2092d8', endColorstr='#0048ba',GradientType=0 ); /* IE6-8 */
}

/*
-----------------------------------------
Social Buttons Style
-----------------------------------------
*/
#main .socials{
	clear: both;
	padding: 20px 0;
	overflow: hidden;
	list-style: none;
}
#main .socials li{
	overflow: hidden;
	padding-left: 0px;
	padding-right: 10px;
}
.ar #main .socials li{
	padding-left: 20px;
	padding-right: 0px;
}

/*
-----------------------------------------
Points Table Style
-----------------------------------------
*/
#main .pointsTable{
	width: 100%;
	overflow: hidden;
	list-style: none;
	padding: 0px 0px 20px !important;
}
#main .pointsTable li{
	color: #04529d;
	font-size: 24px;
	padding-top: 20px;
}
#main .pointsTable li.cell{
	color: #000;
	font-size: 14px;
	margin-top: 5px;
	padding: 5px 10px;
	border: 2px solid #ef7d1b;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#main .pointsTable li.cell table{
	width: 100%;
}
#main .pointsTable li.cell td{
	font-size: 18px;
	text-align: center;
}
#main .pointsTable li.cell .info{
	color: #ef7d1b;
	display: block;
	font-size: 54px;
	font-weight: bold;
}
#main .pointsTable li.cell .info em{
	color: #04529d;
	font-size: inherit;
	font-style: normal;
	text-transform: none;
}

/*
-----------------------------------------
Search Results Style
-----------------------------------------
*/
#main .searchResultsList{
	list-style-image:url('/static/images/searchListStyle.gif');
}
#main .searchResultsList .searchResultItem{
	color: #04529d;
	overflow: hidden;
	padding-bottom: 20px;
}
#main .searchResultsList .searchResultItem .resultTitle{
	color: #04529d;
	display: block;
	font-size: 18px;
	text-decoration: none;
}
#main .searchResultsList .searchResultItem .resultTitle:hover{
	color: #ef7d1b;
}
#main .searchResultsList .searchResultItem .resultCaption{
	color: #04529d;
	display: block;
	font-size: 14px;
	padding-left: 18px;
}

/*
-----------------------------------------
Main Search Bloc Style
-----------------------------------------
*/
#main .mainSearchBlock,
#main .mainSearchBlock .searchForm{
	overflow: hidden;
}
#main .mainSearchBlock .searchForm > label{
	float: left;
	clear: left;
	color: #04529d;
	font-size: 18px;
	padding-bottom: 10px;
	line-height: 26px;
	padding-right: 10px;
}
#main .mainSearchBlock .searchForm input[type="text"]{
	float: left;
	width: 130px;
	height: 24px;
	padding: 0 5px;
	color: #04529d;
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 24px;
	border: 1px solid #04529d;
}
#main .mainSearchBlock .searchForm ul{
	padding: 0;
	float: left;
	list-style: none;
	padding-bottom: 10px;
}
#main .mainSearchBlock .searchForm ul > li{
	float: left;
	padding-right: 10px;
}
#main .mainSearchBlock .searchForm ul > li label{
	display: block;
	color: #04529d;
	font-size: 14px;
	line-height: 26px;
}
#main .mainSearchBlock .searchForm .searchSubmit{
	clear: both;
	color: #FFFFFF;
	display: block;
	cursor: pointer;
	font-size: 18px;
	padding: 5px 10px;
	background-color: #ef7d1b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*
-----------------------------------------
Communication Flyers List Style
-----------------------------------------
*/
#main .communicationFlyers{
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	list-style: none !important;
}
#main .communicationFlyers li{
	float: left;
	padding: 10px 3px;
}
#main .communicationFlyers li strong{
	display: block;
	color: #04529d;
	font-size: 18px;
}

/*
-----------------------------------------
Side Bar Style
-----------------------------------------
*/
/*#sideBar{
	width: 187px;
	overflow: hidden;
	margin-top: -33px;
	position: relative;
	padding-right: 20px;
}
.ar #sideBar{
	padding-right: 0;
	padding-left: 20px;
}*/
#sideBar{
	top: 0px;
	right: 50px;
	width: 187px;
	z-index: 9999;
	overflow: hidden;
	position: absolute;
}
.ar #sideBar{
	left: 50px;
	right: auto;
}
#sideBar .block{
	width: 100%;
	clear: both;
	display: block;
	margin-bottom: 15px;
	text-decoration: none;
}
#sideBar .block.first,
#sideBar .block:first-child{
	margin-top: 0;
}
#sideBar .block .block-header{
	height: 30px;
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	background-color: #ef7d1b;
	-webkit-border-radius: 18px 18px 0 0;
	-moz-border-radius: 18px 18px 0 0;
	border-radius: 18px 18px 0 0;
}
#sideBar .block.last .block-header{
	background-color: #000;
}
#sideBar .block .block-content{
	padding: 10px;
	-webkit-border-radius: 0 0 18px 18px;
	-moz-border-radius: 0 0 18px 18px;
	border-radius: 0 0 18px 18px;
}

/*
-----------------------------------------
Booking Engine Style
-----------------------------------------
*/
#sideBar .block .booking{
	width: 167px;
	background-color: rgba(0, 0, 0, 0.78);
}
#sideBar .block .booking .caption{
	color: #ef7d1b;
	font-size: 12px;
	text-align: center;
}
#sideBar .block .booking .label{
	color: #FFF;
	display: block;
	font-size: 15px;
	padding-top: 10px;
}
#sideBar .block .booking .customSelect{
	width: 145px;
	height: 15px;
	margin-top: 8px;
	position: relative;
	padding-right: 15px;
	background: #FBFBFB url(/static/images/booking-gradient-BG.gif) left top repeat-x;
}
#sideBar .block .booking .customSelect.open{
	z-index: 99999;
	position: relative;

}
#sideBar .block .booking .customSelect.small{
	width: 70px;
}
#sideBar .block .booking .customSelect .display{
	width: 98%;
	height: 15px;
	padding-left: 2%;
	line-height: 15px;
}
#sideBar .block .booking .customSelect .trigger{
	top: 0;
	right: 0;
	width: 15px;
	height: 15px;
	cursor: pointer;
	position: absolute;
	background: url(/static/images/booking-select-trigger.png) center no-repeat;
}
#sideBar .block .booking .customSelect .opKeeper{
	top: 100%;
	left: 0;
	right: 0;
	padding: 5px;
	display: none;
	overflow: auto;
	position: absolute;
	background: #FBFBFB;
	border: 1px solid #d1d1d1;
	border-top: none;
}
#sideBar .block .booking .customSelect.open .opKeeper{
	display: block;
}
#sideBar .block .booking .customSelect .opKeeper li{
	padding: 2px 0;
	border-bottom: 1px solid #d1d1d1;
}
#sideBar .block .booking .customSelect .opKeeper li:last-child{
	padding-bottom: 0;
	border-bottom: none;
}
#sideBar .block .booking .customSelect .opKeeper li label{
	display: block;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}
#sideBar .block .booking .customSelect .opKeeper li label:hover{
	color: #ef7d1b;
}
#sideBar .block .booking .customSelect .opKeeper li label input{
	top: 0;
	left: -30px;
	position: absolute;
}
#sideBar .block .booking .submit{
	color: #04529d;
	display: block;
	cursor: pointer;
	font-size: 13px;
	padding: 4px 20px;
	font-weight: bold;
	margin: 10px auto 0;
	text-transform: uppercase;
	background: #FBFBFB url(/static/images/booking-gradient-BG.gif) left top repeat-x;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*
-----------------------------------------
Right Bar Promotion Style
-----------------------------------------
*/
#sideBar .block .promotion-block{
	background-color: #dad8d8;
}
#sideBar .block .promotion-block .promotion-list,
#sideBar .block .promotion-block .promotion-list .promotion-item{
	overflow: hidden;
}
#sideBar .block .promotion-block .promotion-list .promotion-item{
	display: none;
}
#sideBar .block .promotion-block .promotion-list .promotion-item:first-child{
	display: block;
}
#sideBar .block .promotion-block .promotion-list .promotion-item h2{
	color: #f27f1a;
	font-size: 18px;
	font-weight: normal;
}
#sideBar .block .promotion-block .promotion-list .promotion-item h3{
	color: #04529d;
	font-size: 18px;
	font-weight: normal;
}
#sideBar .block .promotion-block .promotion-list .promotion-item p{
	color: #727272;
	font-size: 10px;
	/*text-align: justify;*/
}
#sideBar .block .promotion-block .promotion-list .promotion-item .cover{
	width: 100%;
	display: block;
	margin-top: 10px;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
}
#sideBar .block .promotion-block .promotion-list .promotion-item .info{
	color: #FFF;
	width: 100%;
	display: block;
	padding: 5px 0;
	font-size: 10px;
	overflow: hidden;
	text-indent: 10px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #ef7d1b;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}
.ar #sideBar .block .promotion-block .promotion-list .promotion-item .info{
	text-align: left;
}
#sideBar .block .promotion-block .promotion-list .promotion-item .info .price{
	color: #FFF;
	float: right;
	font-size: 22px;
	padding-right: 10px;
}
.ar #sideBar .block .promotion-block .promotion-list .promotion-item .info .price{
	float: left;
	padding-left: 10px;
	padding-right: 0px;
}

/*
-----------------------------------------
Right Bar News Style
-----------------------------------------
*/
#sideBar .block .news-block{
	padding: 0;
	padding-bottom: 10px;
	background-color: #04529d;
}
#sideBar .block .news-block .news-list{
	overflow: hidden;
}
#sideBar .block .news-block .news-list .news-item{
	padding-bottom: 20px;
}
#sideBar .block .news-block .news-list .news-item h2{
	color: #FFFFFF;
	font-size: 18px;
	padding: 0 10px;
	font-weight: normal;
}
#sideBar .block .news-block .news-list .news-item h3{
	color: #f27f1a;
	font-size: 14px;
	padding: 0 10px;
	font-weight: normal;
}
#sideBar .block .news-block .news-list .news-item p{
	color: #FFFFFF;
	font-size: 12px;
	text-align: justify;
	padding: 10px 10px 0;
}
#sideBar .block .news-block .news-list .news-item .cover{
	width: 100%;
	display: block;
	padding-bottom: 10px;
}
#sideBar .block .news-block .news-list .news-item .cover img{
	width: 100%;
}

/*
-----------------------------------------
Side Bar (Special Pages) Style
-----------------------------------------
*/
#visit-gnv #main,
#communication #main{
	padding: 0;
}
#visit-gnv #sideBar,
#communication #sideBar{
	width: auto;
}
#visit-gnv #sideBar .block,
#communication #sideBar .block{
	clear: none;
	float: right;
	width: 187px;
	z-index: 99999999;
	margin-left: 20px;
}
#visit-gnv.ar #sideBar .block,
#communication.ar #sideBar .block{
	float: left;
}
#visit-gnv #sideBar .block .block-content,
#communication #sideBar .block .block-content,
#visit-gnv #sideBar .block.last,
#communication #sideBar .block.last{
	display: none;
}

/*
-----------------------------------------
Footer Style
-----------------------------------------
*/
footer{
	background-color: #000;
}
footer .keeper{
	height: 30px;
}
footer .gnvItLogo{
	right: 0;
	bottom: 0;
	width: 41px;
	height: 21px;
	position: absolute;
	background: url(/static/images/gnv-it.gif) right bottom no-repeat;
}
footer .menu{
	line-height: 30px;
	text-align: center;
}
footer .menu li{
	color: #FFF;
	display: inline;
	border-left: 1px solid #FFF;
}
*.ar footer .menu li{
	border-left: none;
	border-right: 1px solid #FFF;
}
footer .menu li:first-child{
	border: none;
}
footer .menu li a{
	color: #FFF;
	margin: 0 10px;
	font-size: 10px;
	text-decoration: none;
}
footer .menu li a:hover{
	color: #EC7C1C;
}

/*
-----------------------------------------
Search Module Style
-----------------------------------------
*/
#searchModule{
	width: 1015px;
	height: 600px;
	display: block;
	overflow: hidden;
	overflow-x: hidden;
	background-color: #FAF8FF;
}

/*
-----------------------------------------
Contact Form Style
-----------------------------------------
*/
#contact #main form{
	overflow: hidden;
}
#contact #main form label{
	color: #ef7d1b;
	display: block;
	font-size: 18px;
	padding-top: 10px;
}
#contact #main form textarea,
#contact #main form input[type="text"]{
	height: 30px;
	width: 700px;
	color: #333333;
	display: block;
	padding: 0 5px;
	font-size: 16px;
	margin-top: 5px;
	background: #EEE;
	line-height: 30px;
	border: 1px solid #CCC;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#contact #main form textarea{
	height: 200px;
}
#contact #main form .error_msg{
	color: #F00;
	display: block;
	font-size: 12px;
	font-weight: bold;
}
#contact #main form input[type="submit"]{
	color: #FFF;
	height: 44px;
	display: block;
	cursor: pointer;
	padding: 0 20px;
	font-size: 18px;
	margin-top: 25px;
	line-height: 40px;
	text-decoration: none;
	border: 1px solid #e19650;
	text-transform: uppercase;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background: #0048ba; /* Old browsers */
	background: -moz-linear-gradient(top,  #2092d8 0%, #0048ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2092d8),color-stop(100%,#0048ba)); /* Chrome,Safari4+ */
	background: -o-linear-gradient(top,  #2092d8 0%,#0048ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2092d8 0%,#0048ba 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2092d8 0%,#0048ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2092d8', endColorstr='#0048ba',GradientType=0 ); /* IE6-8 */
}

/*
-----------------------------------------
Newsletter Style
-----------------------------------------
*/
#newsletterForm{
	overflow: hidden;
	margin-top: 20px;
}
#newsletterForm label{
	margin: 0;
	cursor: pointer;
}
.ar #newsletterForm label{
	float: right !important;
}
#newsletterForm .line{
	clear: both;
	padding: 10px 20px;
}
#newsletterForm .line .label{
	float: left;
	width: 280px;
	height: 31px;
	color: #04529d;
	font-size: 22px;
	line-height: 31px;
	padding-right: 10px;
	text-transform: uppercase;
}
.ar #newsletterForm .line .label{
	padding-right: 0;
	padding-left: 10px;
}
#newsletterForm .line .field{
	width: 231px;
	padding: 0px;
	font-size: 14px;
	line-height: 35px;
}
#newsletterForm .line select{
	width: 210px;
}
#newsletterForm .line .caption{
	height: 35px;
	color: #04529d;
	font-size: 14px;
	line-height: 35px;
	padding-left: 10px;
	text-transform: uppercase;
}
.ar #newsletterForm .line .caption{
	float: right;
	padding-left: 0;
	padding-right: 10px;
}
#newsletterForm .line .caption.inline{
	height: auto;
	line-height: 14px;
}
#newsletterForm .line.error .caption{
	color: #F00;
}
#newsletterForm .line .submit{
	float: left;
	color: #FFF;
	height: 44px;
	padding: 0 20px;
	font-size: 18px;
	line-height: 40px;
	text-decoration: none;
	border: 1px solid #e19650;
	text-transform: uppercase;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	background: #0048ba; /* Old browsers */
	background: -moz-linear-gradient(top,  #2092d8 0%, #0048ba 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2092d8),color-stop(100%,#0048ba)); /* Chrome,Safari4+ */
	background: -o-linear-gradient(top,  #2092d8 0%,#0048ba 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2092d8 0%,#0048ba 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2092d8 0%,#0048ba 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2092d8', endColorstr='#0048ba',GradientType=0 ); /* IE6-8 */
}
.ar #newsletterForm .line .submit{
	float: right;
}
#newsletterForm .line .submit span{
	float: none;
	color: #FFF;
	font-size: 18px;
	background: none;
}
#newsletterForm .line .jqTransformCheckboxWrapper{
	margin: 0 10px 0 0;
}
#newsletterForm .line .jqTransformSelectWrapper ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.ar #newsletterForm .line .jqTransformCheckboxWrapper{
	margin: 0 0 0 10px;
}
.ar #newsletterForm .line .jqTransformInputWrapper,
.ar #newsletterForm .line .jqTransformSelectWrapper,
.ar #newsletterForm .line .jqTransformCheckboxWrapper{
	float: right;
}
.ar #newsletterForm .line .jqTransformSelectWrapper div span{
	left: 0;
	right: auto;
	padding: 8px 7px 0 0;
}

/*
-----------------------------------------
jQuery UI Style Hack
-----------------------------------------
*/
.ui-widget{
	z-index: 99999999 !important;
}

/*
-----------------------------------------
Forcing Style
-----------------------------------------
*/
*.noTxt{
	display:block;
	overflow:hidden;
	line-height:0;
	font-size:0;
	text-align:left;
	text-indent:-9999px;
}
.fLeft,
.ar .fRight{
	float:left !important;
}
.fRight,
.ar .fLeft{
	float:right !important;
}
.clNone{
	clear:none !important;
}
.clBoth{
	clear:both !important;
}
.hidden{
	display:none;
}
.invisible{
	opacity: 0;
}