{% load i18n %}
{% load thumbnail %}
{% if instance.count %}
<div class="block-header">{% trans 'DERNIÈRES NOUVELLES' %}</div>
	<div class="block-content news-block">
		<ul class="news-list">
			{% for news in instance %}
			<li class="news-item">
				<a href="{{ news.link }}" class="cover">
					<img src="{{ news.image|thumbnail_url:'s300' }}" alt="">
				</a>
				<h2>{{ news.title }}</h2>
				<h3>{{ news.caption }}</h3>
				<p>{{ news.description }}</p>
			</li>
			{% endfor %}
			<ul class="pagination">
				<li><a href="" class="noTxt">1</a></li>
				<li class="active"><a href="" class="noTxt">2</a></li>
				<li><a href="" class="noTxt">3</a></li>
				<li><a href="" class="noTxt">4</a></li>
			</ul>
		</ul>
	</div>
</div>
{% endif %}