{% load i18n %}
{% load thumbnail %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% load cms_tags sekizai_tags %}
{% load cache menu_tags %}
<!doctype html>
<html lang="en">
	<head>
	  {% render_block "css" %}
		<meta charset="UTF-8">
		<title>GNV</title>
		<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
		<link rel="stylesheet" href="{{STATIC_URL}}css/jquery/ui/style.css">

		<script src="{{STATIC_URL}}js/jquery/core.js"></script>
		<script src="{{STATIC_URL}}js/jquery/ui.js"></script>
		<script src="{{STATIC_URL}}js/jquery/migrate.js"></script>
		<script src="{{STATIC_URL}}js/jquery/plugins/cycle2.js"></script>
		<script src="{{STATIC_URL}}js/gears.js"></script>
	</head>
  
  <body id="{% page_attribute 'slug' %}" class="{{ LANGUAGE_CODE }}">
  	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=164579217061148";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
  	<!-- HEADER -->
	<header>
		<section class="keeper">
			<a href="/{{ request.LANGUAGE_CODE }}/" class="logo noTxt">GNV</a>
			<div class="topBar">
				<form action="/search" method="get" class="search">
					<input type="text" name="q" id="q" class="field fRight" placeholder="{% trans 'RECHERCHE' %}">
					<input type="submit" value="OK" class="submit noTxt fRight">
					<input type="hidden" value="web.news" name="models">
					<input type="hidden" value="web.deal" name="models">
					<input type="hidden" value="web.topic" name="models">
					<input type="hidden" value="cms_search.page_ar" name="models">
					<input type="hidden" value="cms_search.page_fr" name="models">
				</form>
				<ul class="fastLinks">
					<li>
						<ul class="socials">
							<li class="fLeft"><a href="http://www.pinterest.com/gnvferries/" target="_blank" title="Pinterest"><img src="/static/images/icons/social/pinterest.png?v2" width="20"></a></li> 
							<li class="fLeft"><a href="http://www.twitter.com/GNVtraghetti" target="_blank" title="Twitter"><img src="/static/images/icons/social/twitter.png?v2" width="20"></a></li>
							<li class="fLeft"><a href="http://www.facebook.com/GrandiNaviVeloci" target="_blank" title="Facebook"><img src="/static/images/icons/social/facebook.png?v2" width="20"></a></li>
							<li class="fLeft"><a href="http://www.youtube.com/user/grandinaviveloci" target="_blank" title="Youtube"><img src="/static/images/icons/social/youtube.png?v2" width="20"></a></li>
						</ul>
					</li>
					<li>
						<a href="http://www.gnv.it" target="_blank">GNV.IT</a>
					</li>
					<li>
						<a href="/{{ request.LANGUAGE_CODE }}/newsletter/">{% trans 'NEWSLETTER' %}</a>
					</li>
					<li>
						<a href="/sitemap/">{% trans 'PLAN DU SITE' %}</a>
					</li>
				</ul>
				<div class="language_switcher">
					{% language_chooser "language_switcher.html" %}
				</div>
			</div>
			<ul class="mainMenu">
				<ul>
					{% show_menu 0 100 100 100 %}
				</ul>
			</ul>
		</section>
	</header>
	<!-- END HEADER -->

	<!-- CONTENT -->
	<section id="content">
		<section class="keeper">

			<!-- COVER -->
			<section id="cover">
				<ul class="cover-list">
					<li class="cover-item">
					{% placeholder cover_image %}
					</li>
				</ul>
				<ul class="pagination"></ul>
			</section>
			<!-- END COVER -->

			<!-- SIDEBAR -->
			<section id="sideBar"></section>
			<!-- END SIDEBAR -->

			<!-- MAIN -->
			<section id="main">
				{% block content %}
				{% placeholder main_section %}
				{% endblock %}
			</section>
			<!-- END MAIN -->
		</section>
	</section>
	<!-- END CONTENT -->

  <!-- FOOTER -->
	<footer>
		<section class="keeper">
			<ul class="menu">
				<li><a href="/{{ request.LANGUAGE_CODE }}/">{% trans 'Acceuil' %}</a></li>
				<li><a href="/{{ request.LANGUAGE_CODE }}/about/">{% trans 'À propos' %}</a></li>
				<li><a href="/{{ request.LANGUAGE_CODE }}/visit-gnv/">{% trans 'Visitez GNV' %}</a></li>
				<li><a href="#">{% trans 'Voir le film' %}</a></li>
				<li><a href="/{{ request.LANGUAGE_CODE }}/destinations/">{% trans 'Destinations' %}</a></li>
				<li><a href="/{{ request.LANGUAGE_CODE }}/services/">{% trans 'Services' %}</a></li>
				<li><a href="http://www.gnv.it/fr/conditions-generales.html" target="_blank">{% trans 'Conditions générales' %}</a></li>
			</ul>
			<a href="http://www.gnv.it/" class="gnvItLogo noTxt" target="_blank">GNV.IT</a>
		</section>
	</footer>
	<!-- END FOOTER -->
    {% render_block "js" %}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<script type="text/javascript">
		(function() {
			var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			po.src = 'https://apis.google.com/js/plusone.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		})();
	</script>
  </body>
</html>
