{% load i18n %}
{% load cms_tags %}
{% load thumbnail %}

<a href="/{{ request.LANGUAGE_CODE }}/booking/" class="block">
	<div class="block-header">{% trans 'RÉSERVEZ EN 5 CLICS' %}</div>
	<form action="" method="post" class="block-content booking" id="booking">
		<p class="caption">{% trans 'Choisissez la destination et les dates de voyage' %}</p>
		<!--
		<label class="label">{% trans 'Aller' %}</label>
		<div class="customSelect" id="checkIn-place">
			<span class="display"></span>
			<span class="trigger noTxt">&nbsp;</span>
			
			<ul class="opKeeper">
				<li>
					<label><input type="radio" name="checkin-place" value="value 1">value 1</label>
				</li>
				<li>
					<label><input type="radio" name="checkin-place" value="value 2">value 2</label>
				</li>
				<li>
					<label><input type="radio" name="checkin-place" value="value 3">value 3</label>
				</li>
				<li>
					<label><input type="radio" name="checkin-place" value="value 4">value 4</label>
				</li>
			</ul>
		</div>
		<div class="customSelect small" id="checkIn-date">
			<span class="display"></span>
			<span class="trigger noTxt">&nbsp;</span>
			
			<ul class="opKeeper">
				<li>
					<label><input type="radio" name="checkin-date" value="value 1">value 1</label>
				</li>
				<li>
					<label><input type="radio" name="checkin-date" value="value 2">value 2</label>
				</li>
				<li>
					<label><input type="radio" name="checkin-date" value="value 3">value 3</label>
				</li>
				<li>
					<label><input type="radio" name="checkin-date" value="value 4">value 4</label>
				</li>
			</ul>
		</div>

		<label class="label">{% trans 'Retour' %}</label>
		<div class="customSelect" id="checkout-place">
			<span class="display"></span>
			<span class="trigger noTxt">&nbsp;</span>
			
			<ul class="opKeeper">
				<li>
					<label><input type="radio" name="checkout-place" value="value 1">value 1</label>
				</li>
				<li>
					<label><input type="radio" name="checkout-place" value="value 2">value 2</label>
				</li>
				<li>
					<label><input type="radio" name="checkout-place" value="value 3">value 3</label>
				</li>
				<li>
					<label><input type="radio" name="checkout-place" value="value 4">value 4</label>
				</li>
			</ul>
		</div>
		<div class="customSelect small" id="checkout-date">
			<span class="display"></span>
			<span class="trigger noTxt">&nbsp;</span>
			
			<ul class="opKeeper">
				<li>
					<label><input type="radio" name="checkout-date" value="value 1">value 1</label>
				</li>
				<li>
					<label><input type="radio" name="checkout-date" value="value 2">value 2</label>
				</li>
				<li>
					<label><input type="radio" name="checkout-date" value="value 3">value 3</label>
				</li>
				<li>
					<label><input type="radio" name="checkout-date" value="value 4">value 4</label>
				</li>
			</ul>
		</div>
		<input type="submit" value="{% trans 'suivant' %}" class="submit">
		-->
	</form>
</a>

<div class="block">
	<a href="/{{ request.LANGUAGE_CODE }}/traversees/" class="block-header">{% trans 'Traversée' %}</a>
	<div id="dealsWidget" class="block-content promotion-block">
		<ul class="promotion-list">
			{% for deal in deals %}
			<li class="promotion-item">
				<h2>{{ deal.title }}</h2>
				<h3>{{ deal.caption }}</h3>
				<p>{{ deal.description }}</p>
				<img src="{{ deal.image.url|thumbnail_url:'s300' }}" alt="" class="cover">
				<a href="{{ deal.url }}" class="info">
					{% trans 'À partir de' %}
					<span class="price">{{ deal.price }}€</span>
				</a>
			</li>
			{% endfor %}
		</ul>
		<ul class="pagination"></ul>
	</div>
</div>

{% if news.count %}
<div class="block last">
	<div class="block-header">{% trans 'LA CARTE DE FIDÉLITÉ' %}</div>
	<div class="block-content news-block">
		<ul class="news-list">
			{% for info in news %}
			<li class="news-item">
				<a href="/{{ request.LANGUAGE_CODE }}/{{ info.url }}" class="cover">
					<img src="{{ info.image|thumbnail_url:'s200' }}" alt="">
				</a>
				<h2>{{ info.title }}</h2>
				<h3>{{ info.caption }}</h3>
				<p>{{ info.description }}</p>
			</li>
			{% endfor %}
			<ul class="pagination"></ul>
		</ul>
	</div>
</div>
{% endif %}

<script>
	$(document).ready(function(){
		setTimeout(
			function(){
				$('#content > .keeper').animate(
					{
						'min-height': ($('#sideBar').height() - 30) + 'px'
					}, 1000
				);
			}, 500
		);

		if($("#dealsWidget").size()){
			var dealsList = $("#dealsWidget .promotion-list");
			var pager = $("#dealsWidget .pagination").empty();

			dealsList.find(".promotion-item:first").addClass('active');

			var itemsCount = dealsList.find('.promotion-item').size();

			if(itemsCount > 1){
				for(var index = 0; index < itemsCount; index++){
					$('<li data-item="' + index + '"><a href="#' + index + '" class="noTxt">' + index + '</a></li>').click(function(e){
						e.preventDefault();
						var trigger = $(this);

						pager.find('.active').removeClass('active');
						dealsList.find('.promotion-item.active').fadeOut('fast', function(){
							$(this).removeClass('active');
							
							dealsList.find('.promotion-item:eq(' + trigger.attr('data-item') + ')').fadeIn('fast', function(){
								$(this).addClass('active');
							});
							
							trigger.addClass('active');
						});

					}).appendTo(pager);
				}

				pager.find("li:first").addClass('active');
			}
		}
	});
</script>