<section class="pageSlider cycle-slideshow" id="homeSlider" data-cycle-timeout="0" data-cycle-paused="true" data-cycle-pager-template="<span><em></em> ##slideNum## </span>" data-cycle-tmpl-regex="##((.)?.*?)##" data-cycle-pager-active-class="active" data-cycle-starting-slide="1" >
	<div class="pager cycle-pager"></div>
	<img src="/media/public/filer/filer_public/2013/09/30/slide1.jpg" alt="">
	<img src="/media/public/filer/filer_public/2013/09/30/slide2.jpg" alt="">
	<img src="/media/public/filer/filer_public/2013/09/30/slide3.jpg" alt="">
</section>